services:
  grillgauge-api:
    image: nicholasaldred/grillgauge-api:latest
    container_name: grillgauge-api
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_URL=${POSTGRES_URL}
      - CA_CERT=${CA_CERT}
      - CA_KEY=${CA_KEY}
      - INT_CA_KEY_PASSPHRASE=${INT_CA_KEY_PASSPHRASE}
    volumes:
      - ~/intermediateCA:/app/CA:ro
    depends_on:
      - grillgauge-db
    networks:
      - grillgauge-network

  grillgauge-ui:
    image: nicholasaldred/grillgauge-ui:latest
    container_name: grillgauge-ui
    build:
      context: ./ui
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      # Public URL used by the browser
      - NEXT_PUBLIC_API_BASE_URL=${NEXT_PUBLIC_API_BASE_URL}
      # Internal URL used by the Next.js server inside the container to reach the API
      - API_BASE_URL=${API_BASE_URL}
      - AUTH_SECRET=${AUTH_SECRET}
      - AUTH_GOOGLE_ID=${AUTH_GOOGLE_ID}
      - AUTH_GOOGLE_SECRET=${AUTH_GOOGLE_SECRET}
      - JWT_SECRET=${JWT_SECRET}
      - AUTH_TRUE_HOST=${AUTH_TRUE_HOST}
      - AUTH_URL=${AUTH_URL}
      - DEV_WARNING_ENABLED=${DEV_WARNING_ENABLED}
    depends_on:
      - grillgauge-api
    networks:
      - grillgauge-network

  grillgauge-db:
    image: postgres:18
    container_name: grillgauge-db
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5442:5432"
    volumes:
      - ./grillgauge-db-data:/var/lib/postgresql
    restart: unless-stopped
    networks:
      - grillgauge-network

networks:
  grillgauge-network:
    driver: bridge